{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<p> {{series_result}}</p>
<p> {{series_name}}</p>
<p> {{series_rating}}</p>
<p> {{series_years}}</p>
<p> {{series_countries}}</p>
<p> {{series_genres}}</p>
<p> {{series_description}}</p>



<div>
    <div class="row">
        <div class="col">
            <h4>Ваша оценка :</h4>
            {% if series_score %}
                <p>{{series_score}} / 10</p>
             {% else %}
                <p>Вы не поставили оценку</p>
            {% endif %}
        </div>
        <div class="col">
            <h4>Число просмотренных серий :</h4>
            {% if series_viewed_episodes_amount %}
                <p>{{series_viewed_episodes_amount}} / {{series_episodes_amount}}</p>
            {% else %}
                <p>Вы не отметили число просмотренных серий</p>
            {% endif %}
        </div>
    </div>
</div>

<br>

<div>
    <div class="row">
        <div class="col">
            <a class="btn btn-danger" href="{% url 'modify' id=reviewId action='delete' %}">Удалить из списка</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="{% url 'series_add' action='change' %}">Редактировать</a>
        </div>
    </div>
</div>


{% endblock %}
