{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<p> {{series_result}}</p>
<p> {{series_name}}</p>
<p> {{series_rating}}</p>
<p> {{series_years}}</p>
<p> {{series_countries}}</p>
<p> {{series_genres}}</p>
<p> {{series_description}}</p>

<h4>Ваша оценка :</h4>

{% if series_score %}
    <p>{{series_score}} / 10</p>
{% else %}
    <p>Вы не поставили оценку</p>
{% endif %}


<div>
    <div class="row">
        <div class="col">
            <a class="btn btn-danger" href="{% url 'modify' id=id action='delete' %}">Удалить из списка</a>
        </div>
        <div class="col">
            <a class="btn btn-danger" href="{% url 'series_add' action='change' %}">Редактировать</a>
        </div>
    </div>
</div>


{% endblock %}
